<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/first">
        inicio
    </a>
    <a class="navbar-brand" href="/about">
        about
    </a>
    <a class='navbar-brand' href="/gato">Gato</a>
</nav>