<%- include('partials/header'); %>

    <body>
        <%- include('partials/navbar'); %>
            <div class="container">
                <hr>
                <h1>Gato</h1>
                <hr>
                <hr>
                <br>
                <div class="card">
                    <div class="card-body">
                        <div id="cats">
                            <img src="http://thecatapi.com/api/images/get?format=src&type=jpg&size=med" />
                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
            <script>
                setInterval(function () {
                    $("#cats img").attr("src", "http://thecatapi.com/api/images/get?format=src&type=jpg&size=med&" + new Date().getTime());
                    console.log('here');
                }, 2000);
            </script>


            <%- include('partials/footer'); %>