<%- include('partials/header'); %>
<body>
<%- include('partials/navbar'); %>
    <div class="container">
       <hr>
        <h1>Grupo do zap</h1>
        <hr>
        <p>Mátricula: 202212006541</p>
        <p>Nome: Devid Bruno</p>
        <hr>
        <p>Mátricula: 202202873918</p>
        <p>Nome: João Pedro</p>
        <hr>
        <p>Mátricula: 202203767585</p>
        <p>Nome: Gabriel Pacheco</p>
        <hr>
        <p>Mátricula: 202204137364</p>
        <p>Nome:Lucas Rodrigues</p>
        <hr>
    </div>


<%- include('partials/footer'); %>