<%- include('partials/header'); %>
<body>
<%- include('partials/navbar'); %>
    <div class="container">
       <hr>
        <h1>integrantes</h1>
        <hr>
        <p>M치tricula: 202212006541</p>
        <p>Nome: Devid Bruno</p>
        <hr>
        <p>M치tricula: 202212006541</p>
        <p>Nome: Devid Bruno</p>
        <hr>
        <p>M치tricula: 202212006541</p>
        <p>Nome: Devid Bruno</p>
        <hr>
        <p>M치tricula: 202212006541</p>
        <p>Nome: Devid Bruno</p>
        <hr>
    </div>


<%- include('partials/footer'); %>